<div id="<%= dom_id project %>">
  <p>
    <strong>案件名:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>想定稼働日数:</strong>
    <%= project.working_day_min %>
    〜
    <%= project.working_day_max %>
  </p>
</div>
